:root{
  --principal:#9C27B0;
  --principalDark: #89119D;
  --second:#FFCE00;
  --secondDark: rgb(233,287,2);
  --white: #FFF;
  --black: #000;

  --font: 'Staatliches', cursive;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body {
  background-color: var(--principal);
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
